.fill {
  font-family: $secondFont;
  font-size: 14px;
  color: $mainFontColor;
}

.fill_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fill_arrow {
  @include collapsableImage();
}

.fill_flex1 {
  display: flex;
}

.far {
  font-size: 18px;
  color: $thirdFontcolor;
}

.icon-keyboard {
  width: 100%;
  margin-right: 10px;
}

.fill_icon {
  display: flex;
  flex-direction: row;
}

.contact-form {
  display: flex;
  flex-direction: column;
  line-height: 20px;
  width: 100%;
}

label {
  height: 18px;
  margin-bottom: 5px;
}

input {
  border: solid 1px $detailColor;
  height: 30px;
  margin-bottom: 20px;
}

::-webkit-input-placeholder {
  color: $placeholderColor;
}

.title_fill {
  text-transform: uppercase;
  font-size: 18px;
  color: $secondFontColor;
  margin-bottom: 25px;
}

.add_image {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.button_image {
  background-color: $thirdFontcolor;
  color: $whiteColor;
  width: 140px;
  height: 30px;
  margin-right: 20px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: $boxShadow;
}

.checkbox {
  box-sizing: border-box;
  border: solid 2px $detailColor;
  width: 30px;
  height: 30px;
}
