//SHARE - CREAR TARJETA
.share {
  display: flex;
  background-color: #ffffff;
  border-top: 1px solid #d8d8d8;
  justify-content: space-between;
  align-items: center;
}

.sharewrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}
.shareicon {
  display: inline;
  font-size: 18px;
  color: $thirdFontcolor;
  margin-right: 10px;
}

.sharetitle {
  font-size: 18px;
  font-family: $secondFont;
  color: $secondFontColor;
  text-transform: uppercase;
}

.sharearrow {
  font-size: 18px;
  color: #54585a;
}

.sharecard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 200px;
  margin: 20px auto;
  padding: 13px 18px;
  border-radius: 12px;
  color: $highlightcolor;
  text-transform: uppercase;
  font-size: 18px;
  font-family: $secondFont;
  background-color: $thirdFontcolor;
  box-shadow: $boxShadow;
}

.pressedButton {
  background-color: #d5d5d5;
}

//SHARE - TWITTER
.cardCreated {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 136px;
  font-family: $secondFont;
}

.cardCreated-title {
  color: $secondFontColor;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.CardCreated-a {
  color: $thirdFontcolor;
  font-size: 14px;
  text-align: center;
}

.CardCreated_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #00a0f5;
  width: 181px;
  height: 30px;
  border: none;
  border-radius: 3px;
  box-shadow: $boxShadow;
  font-size: 14px;
  color: $whiteColor;
  margin-top: 10px;
}
.icon {
  font-size: 18px;
  color: $whiteColor;
  margin-right: 9.5px;
}
.twShare {
  width: 134px;
  height: 20px;
}
