<section class="design active js-section">
  <div class="title_wrapper">
    <div class="title_wrapper--text">
      <i class="fal fa-object-ungroup icon"></i>
      <h2 class="title">Diseña</h2>
    </div>
    <i class="fas fa-chevron-up title_wrapper--arrow js-arrow-design"></i>
  </div>

  <div class="collapsible">
    <form class="design_form">
      <p class="design_form-title">colores</p>
      <div class="design_form-box">
        <label class="design_form-label">
          <input
            class="design_form-label--input js-input1"
            type="radio"
            name="color"
            value="green"
          />
          <div class="design_form-label--div">
            <div class="design_form-label--div1"></div>
            <div class="design_form-label--div2"></div>
            <div class="design_form-label--div3"></div>
          </div>
        </label>

        <label class="design_form-label js-input2">
          <input
            class="design_form-label--input"
            type="radio"
            name="color"
            value="orange"
          />
          <div class="design_form-label--div">
            <div class="design_form-label--div4"></div>
            <div class="design_form-label--div5"></div>
            <div class="design_form-label--div6"></div>
          </div>
        </label>
        <label class="design_form-label">
          <input
            class="design_form-label--input js-input3"
            type="radio"
            name="color"
            value="blue"
          />
          <div class="design_form-label--div">
            <div class="design_form-label--div7"></div>
            <div class="design_form-label--div8"></div>
            <div class="design_form-label--div9"></div>
          </div>
        </label>
      </div>
    </form>
  </div>
</section>
