<section class="design js-design">
  <div class="design_wrapper">
    <div>
      <i class="fal fa-object-ungroup design_icon"></i>
      <h2 class="design_title">diseña</h2>
    </div>
    <div>
      <i class="fas fa-chevron-down design_arrow js-arrowDown"></i>
      <i class="fas fa-chevron-up design_arrow js-arrowUp hidden"></i>
    </div>
  </div>

  <form class="design_form js-collapsibleContainer">
    <p class="design_form-title">colores</p>
    <div class="design_form-box">
      <label class="design_form-label">
        <input
          class="design_form-label--input"
          type="radio"
          name="color"
          value="green"
        />
        <div class="design_form-label--div">
          <div class="design_form-label--div1"></div>
          <div class="design_form-label--div2"></div>
          <div class="design_form-label--div3"></div>
        </div>
      </label>

      <label class="design_form-label">
        <input
          class="design_form-label--input"
          type="radio"
          name="color"
          value="orange"
        />
        <div class="design_form-label--div">
          <div class="design_form-label--div4"></div>
          <div class="design_form-label--div5"></div>
          <div class="design_form-label--div6"></div>
        </div>
      </label>
      <label class="design_form-label">
        <input
          class="design_form-label--input"
          type="radio"
          name="color"
          value="blue"
        />
        <div class="design_form-label--div">
          <div class="design_form-label--div7"></div>
          <div class="design_form-label--div8"></div>
          <div class="design_form-label--div9"></div>
        </div>
      </label>
    </div>
  </form>
</section>


