<section class="share">
  <div class="sharewrapper">
    <i class="fas fa-share-alt shareicon" aria-hidden="true"></i>

    <h2 class="sharetitle">comparte</h2>
  </div>
  <div class="sharecontainer">
    <i class="fas fa-chevron-down sharearrow js-arrowdown hidden"></i>
    <i class="fas fa-chevron-up sharearrow js-arrowup"></i>
  </div>
</section>
<div class="sharecard js-collapsibleContainer hidden">
  <div>
    <i class="fa fa-id-card-o cardicon" aria-hidden="true"></i>
  </div>
  <div class="btncreatecard">crear tarjeta</div>
</div>
