<section class="share js-section">
  <div class="title_wrapper">
    <div class="title_wrapper--text">
      <i class="fas fa-share-alt icon"></i>
      <h2 class="title">Comparte</h2>
    </div>
    <i class="fas fa-chevron-up title_wrapper--arrow js-arrow-share"></i>
  </div>

  <div class="collapsible">
    <div class="sharecard">
      <div>
        <i class="far fa-address-card cardicon" aria-hidden="true"></i>
      </div>
      <div class="btncreatecard">crear tarjeta</div>
    </div>

    <section class="cardCreated">
      <h3 class="cardCreated-title">La tarjeta ha sido creada:</h3>
      <a
        class="CardCreated-a"
        href="https://awesome-profile-card.com?id=A456DF0001"
        target="_blank"
      >
        https://awesome-profile-card.com?id=A456DF0001
      </a>
      <div class="CardCreated_button">
        <i class="fab fa-twitter icon"></i>
        <p class="twShare">Compartir en twitter</p>
      </div>
    </section>
  </div>
</section>
