.main_card {
  background: linear-gradient(to bottom, $landingBackground, $highlightcolor);
  @media all and (min-width: 768px) {
    width: 100%;
    display: flex;
    height: 80vh;
    flex-direction: row-reverse;
    justify-content: space-between;
    &--preview {
      padding: 20px 40px 20px 15px;
      width: 50%;
    }
    &--fill {
      width: 50%;
    }
  }
  @media all and (min-width: 1024px) {
    &--fill {
      width: 33%;
    }
    &--preview {
      padding: 20px 40px 20px 15px;
      width: 67%;
    }
  }
}
