.landing_background {
  background-color: $landingBackground;
  width: 320px;
  height: 458px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing_logo_container {
  width: 250px;
}

.logo_card {
  width: 100%;
}

.landing {
  padding: 35px 43.3px 17.8px 47.7px;
  text-align: center;
  &_info--create {
    width: 223px;
    height: 24px;
    font-family: $landingFont;
    color: $thirdFontcolor;
    font-size: 19.2px;
  }
  &_info--better {
    font-family: $secondFont;
    color: $mainFontColor;
    font-size: 12.8px;
  }
}
.landing_list {
  width: 268px;
  height: 73.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 38.6px;
}

.landing_list--button {
  width: 129px;
  height: 42px;
  background-color: $borderCardColor;
  color: $whiteColor;
  font-family: $secondFont;
  border-radius: 21px;
  padding: 10px 20px 10px 20px;
  position: relative;
  top: 40px;
}
